@charset "UTF-8";
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        margin: 0;
    }
    .not-found-box {
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 350px;
        margin-top: 200px; /* 원하는 만큼 값 조절 */
        
    }
    .not-found-box h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .not-found-box p {
        color: red;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .btn-home {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        background-color: #6c757d;
        color: white;
        text-decoration: none;
    }
    .btn-home:hover {
        background-color: #5a6268;
    }
