<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{foodhub/index/headerAndFooter.html}">
<head>

	<meta charset="UTF-8">
	<title>Change Password - Food Hub</title>
	
	<!-- css 연결 -->
	<link href="/assets/css/changePassword.css" rel="stylesheet">

<script>

  $().ready(function() {
     
   $("#changePasswordForm").submit(function (event) {
       let newPassword = $("#newPassword").val();
       let confirmPassword = $("#confirmPassword").val();
              
      if (newPassword !== confirmPassword) {
         $("#resultMsg").html("<span style='color:red;'>비밀번호가 일치하지 않습니다.</span>");
         event.preventDefault(); // 폼 제출 방지
      }
          
   });

  });
</script>
</head>
<body>
<div layout:fragment="content">
    <main class="d-flex align-items-center justify-content-center" style="min-height: 90vh;">
        <div class="change-password-box">
          <h2>비밀번호 변경</h2>
          <form id="changePasswordForm" th:action="@{/foodhub/user/changePassword}" method="post">
            <input type="hidden" id="resetUserId" name="userId" th:value="${session.userId}">
            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="새 비밀번호" required>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="새 비밀번호 확인" required>
            <span id="resultMsg"></span>
            <button type="submit" class="btn btn-primary w-100 mt-3" id="changePasswordBtn">비밀번호 변경</button>
            <input type="button" class="btn btn-primary w-100 mt-3" id="logIn" value="취소" th:onclick="|location.href='@{/foodhub/user/myPage}'|"/>
          </form>
        </div>
     </main>
</div>
</body>
</html>
