<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.foodhub.commentReport.CommentReportDAO">

	

	<insert id="reportComment">
	    INSERT INTO COMMENT_REPORT (COMMENT_ID, USER_ID, CONTENT)
	    VALUES (#{commentId}, #{userId}, #{content})
	</insert>
	
	<select id="existsreportComment" parameterType="map" resultType="boolean">
	    SELECT EXISTS (
	        SELECT 	1 
	        FROM 	COMMENT_REPORT 
	        WHERE 	COMMENT_ID = #{commentId} 
	        AND 	USER_ID = #{userId}
	    )
	</select>


</mapper>