<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{foodhub/index/headerAndFooter.html}">
<head>
<meta charset="UTF-8">
<title>게시글 삭제</title>
</head>
<body>

<div layout:fragment="content">
    <main class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
        <div class="delete-box">
            <h3>게시글 삭제</h3>
            <p>삭제된 게시글은 다시는 복구할 수 없습니다.<br>정말 삭제하시겠습니까?</p>
            <form th:action="@{/foodhub/post/deletePost}" method="post">
                <input type="hidden" name="postId" th:value="${postId}">                
                <th:block th:if="${sessionNickname == postMap.nickname}">
				    <th:block th:if="${sessionNickname == postMap.nickname}">
					    <button id="deletePostButton" class="btn btn-outline-secondary"
					        th:onclick="|location.href='@{/foodhub/post/deletePost(postId=${postMap.postId})}'|">
					        <i class="bi bi-trash"></i> 삭제
					    </button>
					</th:block>
				</th:block>
            </form>
            <button type="button" class="btn btn-cancel" th:onclick="|location.href='@{/foodhub/post/postDetail(postId=${postId})}'|">취소</button>
        </div>
    </main>
</div>

</body>
</html>
